<div class="container">
    <div class="row">
        {{#each products}}
        <div class="col-md-4">
            <div class="card border-0 mb-3">
                <img src="{{this.thumbnails}}" class="img-fluid" alt="{{this.title}}">
                <div class="card-body text-center">
                    <p class="card-text">{{this.title}}<br><span class="text-danger">${{this.price}}</span></p>
                </div>
            </div>
        </div>
        {{/each}}
        <div>
            <input id="chatBox"> <!-- caja para escribir mensaje-->
        </div>

        <div>
            <p id="messageLogs"></p> <!-- caja para ir colocando mensajes nuevos-->
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>