<nav class="navbar">
	<ul class="navbar__ul">
		<li{{#if isHome}} class="active"{{/if}}><a href="/">Home</a></li>
    <li{{#if isRealtimeProducts}} class="active"{{/if}}><a href="/realtimeproducts">Real time prods</a></li>
	</ul>
</nav>